@import "./Variables.css"; /* Importamos las variables */

.asset-card {
  color: var(--text-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  overflow: hidden;
  width: 255px !important;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  padding: 0 !important;
}

.asset-card:hover {
  transform: scale(1.03);
}

.asset-image img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.asset-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.asset-title-author {
  display: flex;
  justify-content: space-between; /* Título a la izquierda y autor a la derecha */
}

.asset-formats-category {
  display: flex;
  justify-content: space-between; /* Formatos a la izquierda y categoría a la derecha */
  margin-top: 5px;
}

.asset-title {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}

.asset-author {
  font-size: 14px;
  color: gray;
}

.asset-formats {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.format-badge {
  background-color: #444;
  color: white;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 5px;
}

.asset-category {
  display: inline-block;
  margin-top: 8px;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 5px;
  background-color: var(--hover-color);
  color: white;
}
