.categoria-container {
  > .header{
    padding-top: 20px;
    padding-left: 20px;
  }
  color: var(--text-color);
  }
  
  .filter{
    padding-left: 20px;
  }
  .c{
    background-color: var(--background-color);
  }
  .header {
    
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 2rem;
    margin-bottom:40px;
  }

  .hero-category-section {
    margin-bottom: 40px; /* Añadir espacio entre HeroCategorySection y los filtros */
  }

  hr {
    border: 0;
    border-top: 5px solid #d3d3d3 !important;
    width: 80%;
    margin: 20px auto !important; 
  }


  h4{
    margin-top: 10px !important;
  }
  
  
  
  .filter {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;  /* Añadir espacio por encima de los botones de filtro */
    margin-bottom: 40px;
  }
  
  .filter button {
    margin: 0 5px;
    background-color: #333;
    color: var(--color-text-light);
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 5px;
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  .filter button:hover {
    background-color: #444;
    transform: scale(1.1);
    color: var(--hover-color);
  }
  
  .category-section {
    margin-bottom: 40px;
  }
  
  .category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .category-header h2 {
    font-size: 1.5rem;
  }
  
  .follow-btn {
    background-color: #0066cc;
    color: var(--color-text-light);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  .follow-btn:hover {
    background-color: #0055a2;
  }
  
  .asset-cards {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
  }
  
  .asset-card {
    background-color: #2e2e2e;
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
  }
  
  .asset-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .asset-info {
    margin-top: 10px;
  }
  
  .asset-info p {
    margin: 5px 0;
    font-size: 0.9rem;
  }
  
  .asset-info p:first-child {
    font-weight: bold;
  }
  