@import "./Variables.css"; /* Importamos variables globales */


.footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
}

.footer-text {
  margin: 0;
  padding-bottom: 5px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s ease-in-out;
}

.footer-link:hover {
  color: var(--hover-color);
  text-decoration: underline;
}
