@import "./Variables.css";


:root{
  all: unset;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: var(--font-primary);
}

#app-container{
  background-color: var(--background-color);
}