html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--text-color);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);}

/* Layouts genéricos */
.container,
.page-container {
  flex: 1;
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

/* Estilo para lectores de pantalla */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
