@import "./HeroSection.css";




  
.categorias-tipo {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* Muestra 8 categorías por fila */
    gap: 20px; /* Espaciado entre las categorías */
    justify-content: center;
    margin-top: 20px;
  }
  
  
  

  @media (max-width: 800px) {
    .categorias-tipo {
      grid-template-columns: repeat(4, 1fr); /* 4 categorías por fila en pantallas más pequeñas */
    }
  }
  
  @media (max-width: 600px) {
    .categorias-tipo {
      grid-template-columns: repeat(2, 1fr); /* 2 categorías por fila en pantallas aún más pequeñas */
    }
  }
  