.user-section {
    padding: 20px;
    background-color: var(--background-color);
  }
  
  .user-section h2 {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
    padding-left: 15px;
    margin-bottom: 15px;
    background-color: var(--primary-color);
    color: var(--text-color);
    margin-left: -1.1vw;
    margin-right: -1.1vw;

    .user-icon {
      position: relative;
      top: -6px;
    }
  }


  .user-icon {
    vertical-align: middle;
    margin-right: 10px;
  }

  
  .user-section-cards {
    display: flex;
    gap: 15px;
    overflow-x: auto; /* Permite desplazamiento horizontal si hay muchos assets */
    padding-bottom: 10px;
  }