:root {
    /* Colores */
    --primary-color: #333333;
    --secondary-color: #222222;
    --text-color: white;
    --background-color: #222222;
    --hover-color: #338bff; /* Color que tomará el título y los botones al hacer hover */

    --bs-link-color-rgb: #338bff;
    /* Tipografía */
    --font-primary: Arial, sans-serif;
    --font-logo: 'Jersey 10', sans-serif;
  
    /* Espaciado y tamaños */
    --navbar-height: 80px;
    --button-font-size: 16px;
    --icon-size: 20px;
    --border-radius: 5px;
  }
  